In [25]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df=pd.read_csv("Customer Purchase.csv")

In [5]:
df.sample(5)

    Customer ID  Age  Gender Education   Review Purchased
40         1061   39    Male    School     Good        No
44         1065   77  Female        UG  Average        No
13         1034   57  Female    School  Average        No
14         1035   15    Male        PG     Poor       Yes
34         1055   86    Male    School  Average        No

In [6]:
df.shape

(50, 6)

In [7]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [13]:
x= df.drop(['Purchased','Customer ID'],axis=1)
y = df['Purchased']

In [14]:
x.replace({'Review':{'Poor':0,'Average':1,'Good':2}},inplace=True)
x.replace({'Education':{'School':0,'UG':1,'PG':2}},inplace=True)
x.replace({'Gender':{'Male': 0,'Female':1}},inplace=True)

In [17]:
x.sample(5)

    Age  Gender  Education  Review
15   75       0          1       0
35   74       0          0       0
41   23       0          2       2
14   15       0          2       0
43   27       0          2       0

In [18]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, train_size=0.8, random_state=42)

In [19]:
xtrain.shape,ytrain.shape

((40, 4), (40,))

In [21]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [22]:
ypred=model.predict(xtest)

In [24]:
accuracy_score(ytest,ypred)

0.8

In [27]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

          No       0.80      0.80      0.80         5
         Yes       0.80      0.80      0.80         5

    accuracy                           0.80        10
   macro avg       0.80      0.80      0.80        10
weighted avg       0.80      0.80      0.80        10