In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_absolute_percentage_error, mean_squared_error

<ul>
<li>GRE Scores (290 to 340)</li>
<li>TOEFL Scores (92 to 120)</li>
<li>University Rating (1 to 5)</li>
<li>Statement of Purpose (1 to 5)</li>
<li>Letter of Recommendation Strength (1 to 5)</li>
<li>Undergraduate CGPA (6.8 to 9.92)</li>
<li>Research Experience (0 or 1)</li>
<li>Chance of Admit (0.34 to 0.97)</li>
</ul>

In [2]:
df=pd.read_csv('Admission Chance.csv')

In [3]:
df.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df.corr()['Chance of Admit ']

Serial No            0.042336
GRE Score            0.802610
TOEFL Score          0.791594
University Rating    0.711250
 SOP                 0.675732
LOR                  0.669889
CGPA                 0.873289
Research             0.553202
Chance of Admit      1.000000
Name: Chance of Admit , dtype: float64

In [5]:
df.drop(columns=['Serial No'],inplace=True)

In [6]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
df.shape

(400, 8)

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(df.iloc[:,0:7],df['Chance of Admit '],train_size=0.8,random_state=2529)

In [9]:
xtrain.sample(3)

     GRE Score  TOEFL Score  University Rating   SOP  LOR   CGPA  Research
132        309          105                  5   3.5   3.5  8.56         0
251        316           99                  2   2.5   3.0  9.00         0
44         326          113                  5   4.5   4.0  9.40         1

In [10]:
xtrain.shape,ytrain.shape

((320, 7), (320,))

In [11]:
model=LinearRegression()

In [12]:
model.fit(xtrain,ytrain)

LinearRegression()

In [13]:
ypred=model.predict(xtest)

In [14]:
r2_score(ytest,ypred)

0.8079643551291403

In [15]:
mean_absolute_error(ytest,ypred)

0.047757600198728614

In [17]:
mean_absolute_percentage_error(ytest,ypred)

0.08306162853521608

In [18]:
mean_squared_error(ytest,ypred)

0.004483789262621533