In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [2]:
df=pd.read_csv("Credit Default.csv")

In [3]:
df.sample(5)

           Income        Age          Loan  Loan to Income  Default
148   45148.88572  60.525006   6455.391772        0.142980        0
246   67709.24159  50.412932   5136.819308        0.075866        0
177   50072.84763  33.015273   8088.568019        0.161536        1
1169  58178.61457  49.692795  10948.499490        0.188188        0
1377  69939.32968  55.637621   2225.224533        0.031816        0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Income          2000 non-null   float64
 1   Age             2000 non-null   float64
 2   Loan            2000 non-null   float64
 3   Loan to Income  2000 non-null   float64
 4   Default         2000 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 78.2 KB

In [6]:
df.corr()['Default']

Income            0.002284
Age              -0.444765
Loan              0.377160
Loan to Income    0.433261
Default           1.000000
Name: Default, dtype: float64

In [7]:
df.describe()

             Income          Age          Loan  Loan to Income      Default
count   2000.000000  2000.000000   2000.000000     2000.000000  2000.000000
mean   45331.600018    40.927143   4444.369695        0.098403     0.141500
std    14326.327119    13.262450   3045.410024        0.057620     0.348624
min    20014.489470    18.055189      1.377630        0.000049     0.000000
25%    32796.459720    29.062492   1939.708847        0.047903     0.000000
50%    45789.117310    41.382673   3974.719418        0.099437     0.000000
75%    57791.281670    52.596993   6432.410625        0.147585     0.000000
max    69995.685580    63.971796  13766.051240        0.199938     1.000000

In [8]:
df['Default'].value_counts()

0    1717
1     283
Name: Default, dtype: int64

In [10]:
x = df.drop(['Default'],axis=1)
y = df['Default']

In [12]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, train_size=0.7, random_state=2529)

In [13]:
xtrain.shape,ytrain.shape,

((1400, 4), (1400,))

In [16]:
model = LogisticRegression()
model.fit(xtrain,ytrain)

LogisticRegression()

In [17]:
ypred=model.predict(xtest)

In [21]:
accuracy_score(ytest,ypred)

0.95

In [23]:
model.intercept_

array([9.39569098])

In [25]:
model.coef_

array([[-2.31410017e-04, -3.43062682e-01,  1.67863324e-03,
         1.51188531e+00]])

In [28]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97       519
           1       0.83      0.79      0.81        81

    accuracy                           0.95       600
   macro avg       0.90      0.88      0.89       600
weighted avg       0.95      0.95      0.95       600

In [30]:
confusion_matrix(ytest,ypred)

array([[506,  13],
       [ 17,  64]], dtype=int64)