In [18]:
import pandas as pd
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('Fish.csv')

In [3]:
df.sample(5)

     Category Species  Weight   Height   Width  Length1  Length2  Length3
117         3   Perch   650.0  11.1366  6.0030     36.5     39.0     41.4
71          2  Parkki   300.0  11.3680  4.2340     24.0     26.0     29.0
14          1   Bream   600.0  14.9544  5.1708     29.4     32.0     37.2
154         6   Smelt    12.2   2.0904  1.3936     11.5     12.2     13.4
128         4    Pike   200.0   5.5680  3.3756     30.0     32.3     34.8

In [5]:
df.corr()['Weight']

Category   -0.312960
Weight      1.000000
Height      0.724345
Width       0.886507
Length1     0.915712
Length2     0.918618
Length3     0.923044
Name: Weight, dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [7]:
df.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [9]:
xtrain,xtest,ytrain,ytest=train_test_split(df[['Category','Height','Width','Length1','Length2','Length3']],df['Weight'],train_size=0.8,random_state=42)

In [10]:
xtrain.shape,ytrain.shape

((127, 6), (127,))

In [14]:
model = LinearRegression()

In [15]:
model.fit(xtrain,ytrain)

LinearRegression()

In [16]:
ypred=model.predict(xtest)

In [17]:
r2_score(ytest,ypred)

0.9034878699241474

In [20]:
mean_absolute_error(ytest,ypred)

97.29791305330401